@import '../../style/vars.scss';


.wrapper{
  width: 100%;
  height: auto;
  padding: 7rem 0 3rem;
}

.cardBox{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  justify-items: center;
  gap: 35px;

  position: relative;

  width: 100%;
  height: auto;
  padding: 15px 0;
  margin-bottom: 50px;
}

.footer{
  font-size: 2rem;

  .title{
    font-size: inherit;
    font-weight: 500;

    margin-bottom: 15px;
  }

  .subtitle{
    font-size: 0.6em;
  }

  a{
    color: $third-color;
  }
}