@import '../../style/vars.scss';


.wrapper{
  width: 100%;
  height: auto;
  padding: 7rem 0 3rem;
}

.inner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  justify-items: center;
  gap: 35px;

  position: relative;

  width: 100%;
  height: auto;
  padding: 15px 0;
}