.wrapper{
  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  top: -66px;
  z-index: 1;
  width: 100%;

  padding: 30px;

  border-bottom: 1px solid rgba($color: #ffffff, $alpha: .3);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 15px rgba($color: #ffffff, $alpha: .4);
  background-color: inherit;

  transition: top .5s ease-in-out;

  &:hover{
    top: 0;
  }

  .navList{
    display: flex;
    justify-content: space-evenly;

    font-size: 1.2rem;
    font-weight: 600;

    & .item{
      padding: 0 10px;
      cursor: pointer;
      opacity: .5;

      transition: opacity .3s ease-in-out;

      &:hover{
        opacity: 1;
      }
    }
  }
}