@import './reset.scss';

:root{
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.theme{
	width: 100vw;
	height: 100vh;
  background-color: #1b2b34;

	color: white;

}

.container{
	display: flex;
	justify-content: flex-start;
	align-items: center;

	max-width: 1024px;
	height: 100vh;
	margin: 0 auto;
}