
/* dark theme */
$dark-bg: #1B2B34;
$dark-color: white;

/* light theme */
$light-bg: white;
$light-color: #091922;


/* colors */
$third-color: #62869A;
$box-shadow-color: #718B9A;

$dark-blue: #091922;