.wrapper{
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.subtitle{
  font-size: 2.5rem;

  margin: 0 0 1rem;
}

.text{
  font-size: 1.5rem;
}

.prompt{
  position: absolute;
  bottom: 20px;
}