@import "../../../../style/vars.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparentize($color: $dark-bg, $amount: 0.1);

  overflow: hidden;
}
.formBox {
  position: relative;
  z-index: 10;

  padding: 40px 30px 20px;
  border: 1px solid $third-color;
  border-radius: 10px;
  box-shadow: 0 0 10px $box-shadow-color;
  background-color: $dark-bg;

  .closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;

    transition: transform 0.5s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $third-color;
      transform: rotate(45deg);

      transition: background-color 0.5s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::after,
    &:hover::before {
      background-color: darken($color: $third-color, $amount: 10);
    }

    &:hover {
      transform: rotate(90deg);
    }
  }

  .form {
    display: grid;
    grid-template: repeat(2, 1fr) 250px / 400px;
    row-gap: 20px;
  }

  

  .submiteBtn {
    margin: 0 auto;
    padding: 15px;

    width: 120px;
    height: auto;

    border-radius: 10px;
    background-color: $dark-blue;
    box-shadow: 0 0 10px $box-shadow-color;

    transition: all 0.3s ease-in-out;

    &:disabled{
      box-shadow: none;
      color: gray;
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      transform: translateY(-2px);
      box-shadow: 0 1px 15px $box-shadow-color;
    }
  }
}
