@import "../../../style/vars.scss";

.card {
  position: relative;

  border-radius: 32px;

  box-shadow: 2px 2px 10px 0px $box-shadow-color;

  width: 304px;
  height: 289px;

  overflow: hidden;

  transition: box-shadow 0.9s linear;

  & .img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    box-shadow: 2px 4px 10px 3px $third-color;
  }

  &:hover .description {
    opacity: 1;
    transform: scale(1);
  }
}

.description {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;

  display: flex;
  flex-direction: column;

  padding: 15px;
  width: 100%;
  height: 100%;

  opacity: 1;

  border-radius: inherit;
  box-shadow: inset 0 0 100px 100px
    transparentize($color: $third-color, $amount: 0.5);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  transition: all 0.5s ease-in-out;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .type {
    order: -1;
  }

  .links {
    display: flex;
    flex-grow: 0.1;
    align-items: flex-end;
    border-top: 1px solid;
    li{
      margin: 0 15px;

      transition: transform .3s ease-in-out;
    }

    img{
      width: 30px;
      height: auto;
    }

    & li:hover,
    & li:focus,
    & li:active{
      transform: scale(1.3);
    }
  }
}
